@use "/src/utilities/variables";
@use "/src/utilities/mixins";

.artwork-view-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.artwork-directory {
  width: 100%;
  margin-bottom: 15px;
}

.artwork-detail-link {
  color: black;
}

.artwork {
  @include mixins.globalFadeIn();
  display: flex;
  justify-content: space-between;
  width: min(100%, 1500px);
}

.artwork__left {
  position: relative;
  width: 47%;

  &__saved-msg {
    position: absolute;
    width: 80%;
    padding: 7px 7px 7px 10px;
    margin-top: 10px;
    background-color: variables.$container-gray;
    color: variables.$gray;
    font-style: italic;
  }

  &__title {
    position: relative;
    font-size: 2rem;
    margin: 60px 0px 30px;
  }

  &__date {
    color: variables.$gray;
    margin: 0px;
  }

  &__artist {
    color: variables.$gray;
    margin: 0px 0px 45px;

    &__wiki-link {
      color: black;
      margin-right: 8px;
      transition-duration: 400ms;

      &:hover {
        color: variables.$gray;
      }
    }

    &__no-wiki-link {
      color: black;
      text-decoration: underline;
      margin-right: 8px;
    }
  }
  
  &__table {
    table-layout: auto;
    width: 100%;
    margin-bottom: 45px;

    &__key {
      padding-right: 35px;
    }
  }

  &__met-link {
    margin-bottom: 35px;
  }
}

.artwork__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47%;
}

@media (max-width: 820px) {

  .artwork {
    flex-direction: column-reverse;
    align-items: center;

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .artwork__left {

    &__saved-msg {
      top: -9px;
    }
  }
}