@use "/src/utilities/variables";
@use "/src/utilities/mixins";

.artwork-view-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding-top: 20px;
}

.artwork-directory {
  width: 100%;
  margin-bottom: 15px;
}

.artwork-detail-link {
  color: black;
}

.artwork {
  display: flex;
  justify-content: space-between;
  width: 94%;
}

.artwork__left {
  width: 40%;

  &__saved-msg {
    width: 80%;
    padding: 7px 7px 7px 10px;
    background-color: variables.$container-gray;
    color: variables.$gray;
    font-style: italic;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  &__date {
    color: variables.$gray;
    margin: 0px;
  }

  &__artist {
    color: variables.$gray;
    margin: 0px;

    &__link {
      color: black;
      margin-right: 8px;
      transition-duration: 400ms;

      &:hover {
        color: variables.$gray;
      }
    }

    &__no-link {
      color: black;
      text-decoration: underline;
      margin-right: 8px;
    }
  }
  
  &__table {
    table-layout: auto;
    width: 100%;
    margin-top: 35px;

    &__key {
      padding-right: 35px;
    }
  }

  &__met-link {
    margin-top: 35px;
  }

  &__collection {
    @include mixins.formContainer();
    position: relative;
    width: 100%;
    background-color: variables.$container-gray;

    &__alert {
      position: absolute;
      left: 125px;
      height: 25px;
      animation: fadeOut 4s;
    }

    &__label {
      display: none;
    }
  
    &__select {
      @include mixins.searchSelect();
      width: 200px;
      height: 35px;
      margin-right: 20px;
    }

    &__button {
      @include mixins.themeButton();
      font-size: .9rem;
      height: 25px;
      width: 87px;
    }
  }
}

.artwork__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  &__mat {
    position: relative;
    background-color: variables.$container-gray;
    width: 100%;
    height: 520px;

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 87%;
      max-height: 87%;
      transform: translate(-50%, -50%);
    }
  }

  &__img-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      padding: 0px;
      margin: 0px 10px;
      border: none;

      &:hover {
        opacity: .5;
      }
      
      &__img {
        max-width: 100%;
        max-height: 100%;
        transition-duration: 400ms;
      }
    }
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}