@use "/src/utilities/variables";
@use "/src/utilities/mixins";

.collection-link-wrapper {
  width: 100%;
  text-decoration: none;
}

.collection {
  @include mixins.userTile();

  &__left {
    display: flex;
    
    &__img-container {
      @include mixins.tileThumbnail();
    }

    &__title {
      font-size: 2rem;
      margin: 10px 0px 0px 40px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    height: 100%;

    &__row {
      color: variables.$gray;
      margin: 0px;
    }
  }
}