@use "/src/utilities/variables";
@use "/src/utilities/mixins";

.collection {
  @include mixins.userTile();

  &__left {
    display: flex;
    
    &__img-container {
      @include mixins.tileThumbnail();
    }

    &__title {
      font-size: 2rem;
      margin: 10px 0px 0px 40px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;

    &__remove-button {
      @include mixins.addSubtractButton();
  
      &:after {
        content: "\2212";
        left: 5px;
      }
    }

    &__row {
      color: variables.$gray;
      margin: 0px;
    }
  }
}