@use "/src/utilities/variables";

@mixin tile() {
  @include globalFadeIn();
  background-color: variables.$container-gray;
  transition-duration: 400ms;
  cursor: pointer;
  list-style: none;

  &:hover {
    background-color: variables.$container-gray-hover;
  }
}

@mixin userTile() {
  @include tile();
  @include globalFadeIn();
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 224px;
  width: min(100%, 1300px);
  box-sizing: border-box;
  padding: 30px;
  margin: 15px 0px;

  @media (max-width: 820px) {
    padding: 20px;
  }

  @media (max-width: 570px) {
    flex-direction: column;
    height: 510px;
  }
}

@mixin tileThumbnail() {
  display: flex;
  align-items: center;
  height: 100%;
  width: 160px;
  overflow: hidden;
  
  &__img {
    width: 100%;
  }
}

@mixin addSubtractButton() {
  position: relative;
  height: 34px;
  width: 34px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: variables.$button-small-gray;
  border: none;

  &:after {
    position: absolute; 
    top: -16px;
    left: 6px;
    font-size: 2.5rem;
    color: white;
  }

  &:hover {
    background-color: variables.$button-small-gray-hover;
  }
}

@mixin themeButton() {
  background-color: variables.$button-full-gray;
  border: 1px solid variables.$border-gray;
  color: white;
  font-size: 1.1rem;

  &:hover {
    background-color: variables.$button-full-gray-hover;
  }
}

@mixin formContainer() {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: variables.$select-container-gray;
}

@mixin searchSelect() {
  height: 40px;
  margin-left: 15px;
  text-indent: 10px;
  border: 1px solid variables.$border-gray;
  font-size: 1rem;
  color: variables.$gray;
}

@mixin globalFadeIn() {
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}