@use "/src/utilities/variables";

@mixin userTile() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$light-beige;
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 15px 0px;
  width: 100%;
  height: 160px;
  padding: 30px;
  transition-duration: 400ms;
  cursor: pointer;
}