@use "/src/utilities/variables";

.pieces {
  width: 80%;
  
  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &__left {
      display: flex;
      align-items: baseline;

      &__collection-name {
        font-size: 1.8rem;
        margin-bottom: 0px;
      }

      & p {
        color: variables.$gray;
        font-style: italic;
        margin-left: 20px;
      }
    }
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    margin-top: 0px;
    width: 100%;
  }
}