@use "/src/utilities/variables";
@use "/src/utilities/mixins";

$home-x-margin: 70px;
$home-y-margin: 105px;

@mixin bigTopText() {
  font-family: variables.$accent-font;
  font-size: min(6vw, 3.5rem);
  color: #FF0000;
  margin-top: $home-x-margin;
  cursor: default;
}

@mixin bigBottomText() {
  font-family: variables.$accent-font;
  font-size: min(4vw, 2.5rem);
  cursor: pointer;
  text-decoration: none;
  transition-duration: 400ms;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100vh;
}

.home__top {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__left {
    @include bigTopText();
    margin-left: $home-y-margin;
  }

  &__right {
    @include bigTopText();
    margin-right: $home-y-margin;
  }
}

.home__featured {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(62vh, 56vw);
  height: min(43vh, 45vw);
  background-image: url("../../assets/flw-room.png");
  background-size: cover;
  background-position: center;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 80%;
    background-color: variables.$button-full-gray;
    color: white;
    font-size: 1.3rem;
  }

  &__button {
    @include mixins.themeButton();
    width: 120px;
  }
}

.home__bottom {
  width: 100%;

  & ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: $home-x-margin;
    list-style: none;
    padding-left: 0px;
    width: 100%;

    .home__bottom__left {
      @include bigBottomText();
      margin-left: $home-y-margin;

      &:hover {
        color: gray;
      }
    }

    .home__bottom__right {
      @include bigBottomText();
      margin-right: $home-y-margin;
      
      &:hover {
        color: gray;
      }
    }
  }
}