@use "/src/utilities/variables";
@use "/src/utilities/mixins";

$home-x-margin: 70px;
$home-y-margin: 105px;

@mixin bigTopText() {
  font-family: variables.$accent-font;
  font-size: min(6vw, 3.5rem);
  color: #FF0000;
  margin-top: $home-x-margin;
  cursor: default;
}

@mixin bigBottomText() {
  font-family: variables.$accent-font;
  font-size: min(4vw, 2.5rem);
  cursor: pointer;
  text-decoration: none;
  transition-duration: 400ms;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100vh;
}

.home__top {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__left {
    @include bigTopText();
    margin-left: $home-y-margin;
  }

  &__right {
    @include bigTopText();
    margin-right: $home-y-margin;
  }
}

.home__featured {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(62vh, 56vw);
  height: min(43vh, 45vw);
  background-image: url("../../assets/morris.jpeg");
  background-size: cover;
  background-position: bottom -50px right 0px;
  border: 1px solid variables.$gray;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55px;
    width: 80%;
    background-color: variables.$button-full-gray;
    color: white;
    font-size: 1.3rem;

    & h3 {
      font-size: min(1.17em, 2.8vw);
    }
  }

  &__button {
    @include mixins.themeButton();
    width: 120px;
  }
}

.home__bottom {
  width: 100%;

  & ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: $home-x-margin;
    list-style: none;
    padding-left: 0px;
    width: 100%;

    .home__bottom__left {
      margin-left: $home-y-margin;

      & a {
        @include bigBottomText();

        &:hover {
          color: gray;
        }
      }

    }

    .home__bottom__right {
      margin-right: $home-y-margin;
      
      & a {
        @include bigBottomText();

        &:hover {
          color: gray;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  $home-x-margin-mobile: 8%;

  @mixin bigTopTextMobile() {
    font-size: 3rem;
  }

  .home {
    justify-content: flex-start;
  }

  .home__top {
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;

    &__left {
      @include bigTopTextMobile();
      margin-top: $home-x-margin-mobile;
      margin-left: 0px;
    }

    &__right {
      @include bigTopTextMobile();
      margin-top: 8px;
      margin-right: 0px;
    }
  }

  .home__featured {
    width: 83vw;
    height: 35vh;
    top: 70%;
  
    &__title {
      height: 10vh;
      font-size: 1.3rem;
  
      & h3 {
        font-size: 1.5rem;
      }
    }
  
    &__button {
      height: 45px;
    }
  }

  .home__bottom ul {
    margin-bottom: $home-x-margin-mobile;
    justify-content: space-evenly;
    align-items: flex-end;

    .home__bottom__left {
      margin-left: 0px;
      font-size: 1.5rem;
    }

    .home__bottom__right {
      margin-right: 0px;
      font-size: 1.5rem;
    }
  }
}