@use "/src/utilities/variables";
@use "/src/utilities/mixins";

.collections {
  @include mixins.globalFadeIn();
  width: 100%;
  
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__count {
      color: variables.$gray;
      margin-bottom: 0px;
    }

    &__add {
      display: flex;
      align-items: center;

      .add-button-label {
        margin: 0px 10px;
        color: variables.$gray;
      }

      .add-button {
        @include mixins.addSubtractButton();
  
        &:after {
          content: "\002B";
          left: 5px;
        }
      }
    }
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    margin-top: 0px;
    width: 100%;
  }
}