@use "./utilities/variables";

html, body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 1px solid black;
  outline-offset: -25px;
  position: absolute;
  right: 0;
  left: 0;
  min-height: 100%;
}

* {
  font-family: variables.$main-font;
  font-weight: 400;
}

*:visited {
  color: black;
}

*:focus-visible {
  outline: 1px solid variables.$gray;
  outline-offset: 2px;
}

button {
  transition-duration: 400ms;

  &:hover {
    cursor: pointer;
  }
}

.gray--text {
  color: variables.$gray;
}