@use "./utilities/variables";

html, body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 1px solid black;
  outline-offset: -25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  // overflow-x: hidden;
}

* {
  font-family: variables.$main-font;
  font-weight: 400;
}

*:visited {
  color: black;
}