@use "/src/utilities/variables";
@use "/src/utilities/mixins";

.piece {
  @include mixins.userTile();

  &__left {
    display: flex;  
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
  }
}

.img-container {
  @include mixins.tileThumbnail();
}

.piece__left__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}

.details-top {
  
  &__title {
    font-size: 2rem;
    margin: 10px 0px 0px;
  }

  &__artist-link {
    color: black;
    margin-right: 10px;
  }
}

.piece__right__notes-container {
  display: flex;
  flex-direction: column;

  & label {
    color: variables.$gray;
    font-style: italic;
    margin-bottom: 5px;
  }

  & textarea {
    resize: none;
    border: 1px solid variables.$border-gray;
  }
}

.piece__right__button {
  @include mixins.addSubtractButton();

  &:after {
    content: "\2212";
  }
}

.detail-rows {
  color: variables.$gray;
  margin: 2px 0px 0px;
}